.button {
    background: #771F98;
    border-radius: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #F3F3F3;
    font-weight: 500;
    font-size: 20px;
    padding:14px;
    
}