.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 113px;
    background: #F8F8F8;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    padding: 26px 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    input {
        padding: 0;
        display: block;
        background: none;
        border: none;
        outline: none;

        font-weight: 400;
        font-size: 17px;
        line-height: 22px;
        color: #8D8D8D;
        &:focus {
            background: none;
            border: none;
            outline: none;
        }
    }

    .icons {
        .icon {
            width: 25px;
            height: 25px;

            svg {
                width: 100%;
                height: 100%;
                path {
                    transition: .3s;
                }
            }
            &:active {
                svg path {
                    fill: #771F98;
                }
            }
        }
    }
}