.name {
    display: flex;
    justify-content: center;
    align-items: center;
    input {
        padding: 0;
        // flex-shrink: 12;
        display: block;
        padding: 0 0 0 11px;
        // margin-inline-start: 11px;
        background: none;
        border: none;
        outline: none;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: #252525;
        width: 100%;
        &:focus {
            background: none;
            border: none;
            outline: none;
        }
    }
    button {
        padding: 5px;
    }
}