.message {
	border: 2px solid #771f98;
	border-radius: 14px;
	padding: 10px 19px;
	color: #171717;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	width: 70%;
	overflow-wrap: break-word;
	position: relative;

	&:not(:first-child) {
		margin-block-end: 41px;
	}

	&.my {
		background: #771f98;
		color: #ffffff;
		align-self: flex-end;
	}
}
